#playthem Play!
#container

  Subreddits to play:
  %span{:id => "subreddits"}

  <br />
  <br />

  Choose 
  %a{:href => "http://www.reddit.com/r/Music/help/faqs/Music"} music related subreddits 
  to playlist!
  %table
    %tr
      %td electronicmusic
      %td electrohouse
      %td techno
    %tr
      %td trance
      %td dubstep
      %td realdubstep
    %tr
      %td glitch
      %td DnB
      %td minimal
    %tr
      %td mixes
      %td swinghouse
      %td chiptunes
    %tr
      %td blues
      %td indierock
      %td metal
    %tr
      %td punk
      %td hiphopheads
      %td classicalmusic
    %tr
      %td gamemusic
      %td jazz
      %td k-pop
    %tr
      %td retromusic
      %td rootsmusic
      %td ska
    %tr
      %td triphop
      %td coversongs
      %td listentous
  
  Or enter some:
  %input{:id => "subreddit_input"}