#video
%ul{:id => "playlist"}
%footer
  %img{:src => "prev.png", :class => "button", :id => "prev"}
  %img{:src => "play.png", :class => "button", :id => "play"}
  %img{:src => "pause.png", :class => "button", :id => "pause"}
  %img{:src => "next.png", :class => "button", :id => "next"}
